*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(102, 22, 155);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 4rem;
    }

.ContainerMenuLogo{
    display: flex;
    align-items: center;
    margin-left: 10rem;
}

.LogoContainer{
    align-items: center;
}

.logo{
    width: 140px;
}

a{
    text-decoration: none;
    color: black;
    font-family:sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    
}

nav > a {
    margin-left: 2rem;
    }

i{
    margin-left: 2rem;
}

.dialogo{
    display: flex;
    align-items: center;
    margin-right: 4rem;
}


.Taylor{
    width: 40px;
    border-radius: 50px;
    margin-left: 2rem;
    
}
